[submodule "vendor/sig-tool"]
	path = vendor/sig-tool
	url = https://github.com/commercialhaskell/sig-tool.git
[submodule "etc/common/devops-helpers"]
	path = etc/common/devops-helpers
	url = https://github.com/fpco/devops-helpers.git
